Button:disabled {
    display: none;
}

TabbedContent {
    height: 1fr;
}

TabPane {
    height: 1fr;
    overflow: auto;
}

#webapp-loading {
    width: auto;
    height: 1;
    content-align: center middle;
    color: $accent;
}

.hidden {
    display: none;
} 