@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

@font-face {
    font-family: "Berkeley Mono Variable";
    src: url("/BerkeleyMonoVariable.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}

@theme {
    --color-background: #ffffff;
    --color-foreground: #18181b;
    --color-border: #e4e4e7;
}

/* @layer base { */
/*     .font-mono { */
/*         font-family: "Berkeley Mono Variable", monospace !important; */
/*     } */
/*     body { */
/*         background-color: var(--color-background); */
/*         color: var(--color-foreground); */
/*     } */
/*     *, ::before, ::after { */
/*         border-color: var(--color-border); */
/*     } */
/* } */
